@model Project3Travelin.Dtos.AboutDtos.ResultAboutDto

<section class="about-us-tv overflow-hidden" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about_us__ot d-flex justify-content-center position-relative mb-5 mb-lg-0">
          <img src="/03_travelin_main_file/travelin/images/ap-1.png" class="ap__icon" alt=""/>
          <img src="/03_travelin_main_file/travelin/images/ap-1.png" class="ap__icon1" alt=""/>
          <img src="/03_travelin_main_file/travelin/images/ap-1.png" class="ap__icon2" alt=""/>
          <img src="@Model.Image1" class="aa__img1" alt=""/>
          <img src="@Model.Image2" class="aa__img2" alt=""/>
          <span>@Model.ImageTitle</span>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="d-flex flex-column">
          <h4 class="theme mb-0">Hakkımızda</h4>
          <h2 class="fw-bold">@Model.Title</h2>

          <p class="border-b mb-2 pb-2">
            @Model.AboutDetail
          </p>
          <div class="about-listing">
            <ul class="d-flex flex-column justify-content-between gap-3">
              <li><i class="fa fa-check-circle theme1 me-2"></i> En popüler turlar</li>
              <li><i class="fa fa-check-circle theme1 me-2"></i> Uygun fiyat garantisi</li>
              <li><i class="fa fa-check-circle theme1 me-2"></i> 7/24 müşteri desteği</li>
            </ul>
          </div>
          <div class="mt-4">
            <a href="#" class="nir-btn">Turları İncele</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>